<h1>Manage your environments</h1>
<div ng-controler="Environment_Ctrl">
	<div class="leftColumn">
	<ul class="noList">
	    <li ng-repeat="environment in environmentList.environments">
	        <a ng-click="getEnvironment(environment.id);">{{environment.name}}</a>
	    </li>
	</ul>
	</div>
	
	<div class="content" ng-model="environment">
	   <h3>{{environment.name}}</h3>
       <div ng-repeat="device in environment.devices">
           <ng-include src="'partials/devices/' + device.deviceType + '/dashboard.html'">
           </ng-include>
       </div>
	</div>

